<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budget tracking webApp</title>
<!--     <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <script async src="./script.js" type="module"></script>
    <script defer src="./main.js" type="module"></script> -->
    <script defer src="https://cdn.jsdelivr.net/npm/chartjs-plugin-autocolors"></script>
</head>
<body>
    <header class="header">
        <div class="header__wrapper">
            <div class="header__logo">
                <a title="Control your money with ease" href="/" class="header__logo-link">
                    SomeLogo
                </a>
            </div>
            <div class="header__menu">
                <nav class="header__nav">
                    <li class="header__item">
                        <a href="#!" class="header__link">Day</a>
                    </li>
                    <li class="header__item">
                        <a href="#!" class="header__link">Month</a>
                    </li>
                    <li class="header__item">
                        <a href="#!" class="header__link">Year</a>
                    </li>
                </nav>
            </div>
            <div class="header__user-menu">
                <nav class="usermenu__nav">
                    <li class="usermenu__item">
                        <a href="#!" class="usermenu__link"><img src="<%= require('../assets/svg/flag-us.svg') %>" alt=""></a>
                    </li>
                    <li class="usermenu__item">
                        <a href="#!" class="usermenu__link"><img src="<%= require('../assets/svg/settings.svg') %>" alt=""></a>
                    </li>
                    <li class="usermenu__item">
                        <a href="#!" class="usermenu__link"><img src="<%= require('../assets/svg/user.svg') %>" alt=""></a>
                    </li>
                </nav>
                <div class="header__avatar">
                    <img src="<%= require('../assets/svg/user-add.svg') %>" alt="some ebalo">
                </div>
            </div>
        </div>
    </header>
    <main class="main">
        <form action="#" name="inputForm1" class="data__input-form">
            <fieldset class="formfield">
                <label for="formfield">Введите расходы</label>
                <p class="form1">
                    <label for="count">Сумма </label>
                    <input name="moneyCount" value="100500" type="number" min="0" step="1" required>
                </p>
                <p class="form1">
                    <label for="currency">Валюта </label>
                    <select name="currency" id="spentCurrency">
                    </select>
                </p>
                <p class="form1">
                    <label for="date">Дата </label>
                    <input name="spentDate" value="" type="date" required>
                 </p>
                 <p class="form1">
                    <label for="date">Тип расходов </label>
                    <select name="expenceType" id="expence">
                        <option value="food">Еда</option>
                        <option value="health">Здоровье</option>
                        <option value="hobby">Хобби</option>
                        <option value="work">Работа</option>
                        <option value="learning">Развитие</option>
                        <option value="house">Жилье</option>
                        <option value="logistic">Логистика</option>
                        <option value="fun"> Развлечения</option>
                        <option value="subscr">Подписки</option>
                        <option value="travel">Путешествия</option>
                        <option value="taxes">Налоги</option>
                        <option value="other">Иное</option>
                    </select>
                 </p>
                 <p class="form1">
                    <label for="baseCurrency">Валюта Графика </label>
                    <select name="baseCurrency" id="baseCurrency">
                    </select>
                </p>
                <!-- <p class="form1"><label for="today">Сегодня</label> <input type="checkbox" name="today" id="todayDate"></p> -->
                <p>
                    <input id="button1" type="submit" value="Отправить">
                </p>
            </fieldset>
        </form>
        <div class="dataobj__list" id="objlist">
            <label  class="objlistLabel">Cписок расходов</label>
        </div>
        <canvas id="diagramm__field">
            тут будет график
        </canvas>
    </main>
</body>
</html>


